

@font-face {
    font-family: 'GILite';
    src:  url('font/ARMY_GI/woff2/G.I.-400.woff2') format('woff2'),
          url('font/ARMY_GI/woff/G.I.-400.woff') format('woff');
    }

    @font-face {
    font-family: 'GIReg';
    src:  url('font/ARMY_GI/woff2/G.I.-530.woff2') format('woff2'),
          url('font/ARMY_GI/woff/G.I.-530.woff') format('woff');
    }

    @font-face {
    font-family: 'GItBold';
    src:  url('font/ARMY_GI/woff2/G.I.-750.woff2') format('woff2'),
          url('font/ARMY_GI/woff/G.I.-750.woff') format('woff');
    }

    @font-face {
      font-family: 'Industry';
      src:  url('font/industry_Ultra/woff2/Industry-Ultra.woff2') format('woff2'),
            url('font/industry_Ultra/woff/Industry-Ultra.woff') format('woff');
      }
      
body{
    background-color:  #F1E4C7;
}

.gilite{
    font-family: 'GILite' !important;
}

.gireg{
    font-family: 'GIReg' !important;
}

.gitbold{
    font-family: 'GItBold' !important;
}

.gibold{
    font-family: 'GIBold' !important;
}

.industry{
    font-family: 'Industry' !important;
}

.navbar-logo {
    width: 10em !important;
    height: auto !important;
  }

  .navbar {
    border-radius: 0 !important; /* Remove rounded corners */
    margin: 0 !important; /* Remove any margin */
    width: 100%; /* Ensure it spans the full width */
  }

  /* Wrapper around the entire editor component */
.editor-container {
    border: 2px solid #ccc; /* Outer border for the editor */
    border-radius: 8px; /* Rounded corners */
    padding: 10px; /* Padding inside the border */
    background-color: #f9f9f9; /* Light background color */
    margin: 20px 0; /* Margin for spacing */
  }
  
  /* Styling for the typing area */
  .editor-content {
    background-color: white; /* White background for typing */
    padding: 10px; /* Inner padding for content */
    min-height: 200px; /* Minimum height for typing area */
    border: 1px solid #ddd; /* Inner border around the typing area */
    border-radius: 4px; /* Rounded corners for the typing area */
  }
  
  /* Styling for the toolbar */
  .editor-toolbar {
    margin-bottom: 10px; /* Space between toolbar and typing area */
  }

  .error-border {
    border: 2px solid red;
    border-radius: 5px;
    padding: 10px;
  }

